<nav class="navbar navbar-default" style="background-color: #2B5799;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="color: aliceblue;" class="navbar-brand" routerLink="/">HR Solutions</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
          <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" name="search" class="form-control" ngModel placeholder="Search">
          </div>
          <button type="button" class="btn btn-default">Search</button>
        </form>
      </li>
    </ul>
  </div>
</nav>